language: php

env:
    global:
        - DEFAULT_COMPOSER_FLAGS="--optimize-autoloader --no-interaction --no-progress"
        - COMPOSER_FLAGS=""

before_install:
    - alias composer=composer\ --no-interaction && composer selfupdate

cache:
  directories:
    - .composer/cache

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

jobs:
    include:
        - &STANDARD_TEST_JOB
            stage: Test
            php: 7.2
            install:
                - travis_retry composer update $DEFAULT_COMPOSER_FLAGS $COMPOSER_FLAGS
                - composer info -D | sort
            script:
                - vendor/bin/grumphp run
        -
            <<: *STANDARD_TEST_JOB
            stage: Test
            php: 7.2
            env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest"
        -
            <<: *STANDARD_TEST_JOB
            stage: Test
            php: nightly
            env: COMPOSER_FLAGS="--ignore-platform-reqs"

    allow_failures:
        - php: nightly
