name: GrumPHP

on: [push, pull_request]
jobs:
    run:
        runs-on: ${{ matrix.operating-system }}
        strategy:
            matrix:
                operating-system: [ubuntu-latest]
                php-versions: ['8.3', '8.4', '8.5']
                composer-options: ['', '--prefer-lowest']
            fail-fast: false
        name: PHP ${{ matrix.php-versions }} @ ${{ matrix.operating-system }} with ${{ matrix.composer-options }}
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Install PHP
              uses: shivammathur/setup-php@master
              with:
                  php-version: ${{ matrix.php-versions }}
                  tools: 'composer:v2'
                  extensions: pcov, mbstring, posix
            - name: Set env vars for latest PHP version
              if: matrix.php-versions == '8.5'
              run: |
                export COMPOSER_IGNORE_PLATFORM_REQ=php+
                export BOX_REQUIREMENT_CHECKER=0
            - name: Check Versions
              run: |
                  php -v
                  php -m
                  composer --version
            - name: Get composer cache directory
              id: composercache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composercache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ runner.os }}-composer-
            - name: Install dependencies
              run: composer update --prefer-dist --no-progress --no-suggest ${{ matrix.composer-options }} --ignore-platform-req=php+
            - name: Set git variables
              run: |
                  git config --global user.email "you@example.com"
                  git config --global user.name "Your Name"
            - name: Run the tests
              run: php vendor/bin/grumphp run --no-interaction
              continue-on-error: ${{ matrix.php-versions == '8.5' && matrix.composer-options == '--prefer-lowest' }}
              env:
                  PHP_CS_FIXER_IGNORE_ENV: 1
